
*{
    background-color: #f1f6fb;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}

.logo-div {
    text-align: center;
    background-color: black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    
}

.logo {
   background-color: black;
}

.step-1-div {
   width: 100%;
}


.step-1-heading {
   font-weight: bold;
   text-align: center;
   font-size: 50px;
   margin-bottom: 30px;
}

.onboarding-button-div {
  
   text-align: center;

}

.onboarding-button {
   background-color: #21cae0;
   color: white;
   border-radius: 12px;
   width: 525px;
   height: 62px;
   border-color: #21cae0;
   font-weight: 800;
   box-shadow: none;
   
   
}

.onboarding-a {
   background-color: #21cae0;
   color: white;
   text-decoration: none;

}

.step-2-div {
   width: 100%;
}


.step-2-heading {
   font-weight: bold;
   text-align: center;
   font-size: 30px;


}

.step-3-div {
   width: 100%;
}


.step-3-heading {
   font-weight: bold;
   text-align: center;
   font-size: 30px;


}

.step-4-div {
   width: 100%;
}


.step-4-heading {
   font-weight: bold;
   text-align: center;
   font-size: 30px;


}

.step-5-div {
   width: 100%;
}


.step-5-heading {
   font-weight: bold;
   text-align: center;
   font-size: 30px;

}

.step-6-div {
   width: 100%;
}


.step-6-heading {
   font-weight: bold;
   text-align: center;
   font-size: 30px;
}

.video {
   width: 100%;
   text-align: center;
   padding-bottom: 30px;
   
}

.video-p {
   padding-top: 20px;
   font-weight: bold;
   font-size: large;
}

.typeform-button {
   background-color: blue;
   color: white;
   border-radius: 12px;
   width: 150px;
   height: 40px;
   border-color: blue;
   font-weight: 800;
   box-shadow: none;

;
}

.typeform {
   background-color: blue;
   color: white;
   text-decoration: none;
   
}

.calendly-inline-widget-1 {
   float: left;
   width: 40%;
   display: block;
   margin-left: 5%;
}




.step-5-div {
    width: 100%;
 }


 .step-5-heading {
    font-weight: bold;
    text-align: center;
    font-size: 30px;

 }

 .onboarding-button-div {
   
    text-align: center;

 }

 .onboarding-button {
    background-color: #21cae0;
    color: white;
    border-radius: 12px;
    width: 525px;
    height: 62px;
    border-color: #21cae0;
    font-weight: 800;
    box-shadow: none;
    
    
 }

 .onboarding-a {
    background-color: #21cae0;
    color: white;
    text-decoration: none;

 }

 .video {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    
 }
